<div class="row" style="margin:50px;">
    <div class="col-sm-12">
        <h2 style="text-align:center;">Descriere aplicație</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <p style="text-align:right;">
            <h3 style="text-align:right;">Avizări daună</h3>
        </p>
        <p style="text-align:right;">
            Modul de import a avizărilor de daună de la asigurătorii CASCO și de notificare a asigurătorilor RCA
        </p>
    </div>
    <div class="col-sm-1">
        <span class="glyphicon glyphicon-download-alt" style="top:23px;font-size:48px;"></span>
    </div>

    <div class="col-sm-1" style="text-align:right;">
        <span class="glyphicon glyphicon-transfer" style="top:23px;font-size:48px;"></span>
    </div>
    <div class="col-sm-5">
        <p style="text-align:left;">
            <h3>Compensare directă</h3>
        </p>
        <p style="text-align:left;">
            Modul de întocmire, notificare și evidență a dosarelor de daună deschise conform acordului de reglementare încheiat între asigurătorii RCA
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <p style="text-align:right;">
            <h3 style="text-align:right;">Dosare de regres</h3>
        </p>
        <p style="text-align:right;">
            Modul de întocmire, notificare și evidență a cererilor de regres ale asigurătorilor CASCO către asigurătorii RCA
        </p>
    </div>
    <div class="col-sm-1">
        <span class="glyphicon glyphicon-tasks" style="top:23px;font-size:48px;"></span>
    </div>

    <div class="col-sm-1" style="text-align:right;">
        <span class="glyphicon glyphicon-wrench" style="top:23px;font-size:48px;"></span>
    </div>
    <div class="col-sm-5">
        <p style="text-align:left;">
            <h3>Administrare</h3>
        </p>
        <p style="text-align:left;">
            Modul de administrare și mentenanță a aplicației de compensare si de regres între asigurători
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <p style="text-align:right;">
            <h3 style="text-align:right;">Suport</h3>
        </p>
        <p style="text-align:right;">
            egres.rca[at]compensaredirecta.ro
        </p>
    </div>
    <div class="col-sm-1">
        <span class="glyphicon glyphicon-envelope" style="top:23px;font-size:48px;"></span>
    </div>

    <div class="col-sm-1" style="text-align:right;">
        <span class="glyphicon glyphicon-check" style="top:23px;font-size:48px;"></span>
    </div>
    <div class="col-sm-5">
        <p style="text-align:left;">
            <h3>Compatibilitate</h3>
        </p>
        <p style="text-align:left;">
            Prezenta aplicație a fost testată cu următoarele browsere: Internet Explorer, Safari, MozillaFirefox, Chrome
        </p>
    </div>
</div>
